@charset "UTF-8";
/* 顶部固定导航 start */
.topnav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.topnav .container:before, .topnav .container:after {
  content: "";
  display: table;
}

.topnav .container:after {
  clear: both;
}

.topnav .container {
  *zoom: 1;
}

.topnav-logo {
  float: left;
  margin-top: 21px;
}

.topnav-center {
  float: left;
  margin-left: 90px;
}

.topnav-center:before, .topnav-center:after {
  content: "";
  display: table;
}

.topnav-center:after {
  clear: both;
}

.topnav-center {
  *zoom: 1;
}

.topnav-center li {
  float: left;
  margin: 0 20px;
}

.topnav-center span {
  float: left;
  line-height: 100px;
  color: #333333;
  font-size: 16px;
}

.topnav-center a {
  display: block;
  line-height: 100px;
  font-size: 16px;
  color: #818181;
}

.topnav-center a:hover {
  color: #cf0f32;
}

.topnav-listbtn {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 38px;
  width: 120px;
  height: 120px;
  background-color: #cf1132;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topnav-listbtn i {
  display: block;
  width: 34px;
  height: 34px;
  margin: 0 auto;
  background-image: url(../images/index/topnav_spriter.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.topnav-listbtn p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 26px;
  height: 26px;
}

.topnav-listbtn.open {
  background-color: #282b2d;
}

.topnav-listbtn.open i {
  background-position: -34px 0px;
}

.topnav-listbtn.open p {
  display: none;
}

.gamenav {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  background-color: #282b2d;
  padding-bottom: 60px;
  display: none;
}

.gamenav-top {
  color: white;
  margin: 40px 40px 25px;
  font-size: 20px;
  text-indent: 25px;
  line-height: 20px;
}

.gamenav-top span {
  float: right;
  color: #f2ebeb;
  font-size: 12px;
}

.gamenav-top span i {
  display: inline-block;
  background-image: url(../images/index/topnav_spriter.png);
  background-repeat: no-repeat;
  vertical-align: middle;
}

.icon-hot {
  background-position: -56px -48px;
  width: 11px;
  height: 11px;
}

.icon-new {
  background-position: -56px -34px;
  width: 11px;
  height: 11px;
}

.icon-1st {
  background-position: -68px 0px;
  width: 18px;
  height: 9px;
}

.gamenav-client {
  width: 445px;
}

.gamenav-mobile {
  width: 815px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gamenav-client,
.gamenav-mobile {
  float: left;
}

.gamenav-client > div:nth-child(1),
.gamenav-mobile > div:nth-child(1) {
  background-color: #35373a;
  color: #dd1136;
}

.gamenav-client h3,
.gamenav-mobile h3 {
  border-left: 4px #dd1136 solid;
  height: 16px;
  line-height: 16px;
  text-indent: 36px;
  font-size: 16px;
  font-weight: 700;
}

.gamenav-client-top {
  padding: 17px 0;
  padding-left: 40px;
}

.gamenav-mobile-top {
  padding: 17px 0;
  border-left: 1px solid #454545;
}

.gamenav-client-role {
  float: left;
  width: 298px;
}

.gamenav-client-relax {
  float: left;
  width: 146px;
  border-left: 1px #454545 solid;
}

.gamenav-mobile-hot {
  float: left;
  width: 177px;
  border-left: 1px #454545 solid;
}

.gamenav-mobile-new {
  float: left;
  width: 610px;
  border-left: 1px #454545 solid;
}

.gamenav-mobile-new li {
  width: 146px;
}

.gamenav-client-relax,
.gamenav-client-role,
.gamenav-mobile-hot,
.gamenav-mobile-new {
  padding-top: 35px;
}

.gamenav-client-relax h4,
.gamenav-client-role h4,
.gamenav-mobile-hot h4,
.gamenav-mobile-new h4 {
  font-size: 14px;
  color: #6b6b6c;
  font-weight: 700;
  text-indent: 40px;
  margin-bottom: 20px;
}

.gamenav-client-relax ul,
.gamenav-client-role ul,
.gamenav-mobile-hot ul,
.gamenav-mobile-new ul {
  padding-left: 36px;
}

.gamenav-client-relax li,
.gamenav-client-role li,
.gamenav-mobile-hot li,
.gamenav-mobile-new li {
  float: left;
}

.gamenav-client-relax li:nth-child(odd),
.gamenav-client-role li:nth-child(odd),
.gamenav-mobile-hot li:nth-child(odd),
.gamenav-mobile-new li:nth-child(odd) {
  width: 136px;
}

.gamenav-client-relax a,
.gamenav-client-role a,
.gamenav-mobile-hot a,
.gamenav-mobile-new a {
  color: #c3c3c3;
  font-size: 14px;
  line-height: 28px;
}

.gamenav-client-relax a:hover,
.gamenav-client-role a:hover,
.gamenav-mobile-hot a:hover,
.gamenav-mobile-new a:hover {
  color: #fff;
  font-weight: 700;
}

.gamenav-client-relax i,
.gamenav-client-role i,
.gamenav-mobile-hot i,
.gamenav-mobile-new i {
  display: inline-block;
  background-image: url(../images/index/topnav_spriter.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 5px;
}

.gamenav-closebtn {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -38px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gamenav-closebtn i {
  display: block;
  width: 56px;
  height: 14px;
  background-image: url(../images/index/topnav_spriter.png);
  background-position: 0px -34px;
  background-repeat: no-repeat;
}

.gamenav-closebtn:hover i {
  background-position: 0px -48px;
}

/* 顶部固定导航 end */
/* 头部 start */
header {
  position: relative;
  width: 100%;
}

.header-carousel {
  width: 100%;
  height: 950px;
}

.header-carousel ul {
  width: 100%;
  height: 100%;
}

.header-carousel ul li {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center top;
}

.header-carousel ul li:nth-child(1) {
  display: block;
}

.header-carousel a {
  display: block;
  height: 100%;
}

.header-carousel ol {
  position: absolute;
  bottom: 370px;
  right: 0;
}

.header-carousel ol:before, .header-carousel ol:after {
  content: "";
  display: table;
}

.header-carousel ol:after {
  clear: both;
}

.header-carousel ol {
  *zoom: 1;
}

.header-carousel ol li {
  float: left;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.header-carousel ol .active,
.header-carousel ol li:hover {
  background-color: #cf0f32;
}

.header-carousel-content {
  width: 452px;
  position: absolute;
  left: 40px;
  top: 265px;
}

.header-carousel-content h2 {
  font-size: 36px;
  line-height: 52px;
  color: #272a2c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-carousel-content h3 {
  font-size: 36px;
  line-height: 52px;
  color: #272a2c;
  padding-bottom: 10px;
  border-bottom: 1px #cf1132 solid;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-carousel-content p {
  display: -webkit-box;
  font-size: 14px;
  line-height: 24px;
  color: #272a2c;
  margin-top: 15px;
  margin-bottom: 30px;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.header-carousel-content i {
  display: block;
  width: 140px;
  height: 50px;
  background-color: #cf0f32;
  text-align: center;
  line-height: 50px;
  color: white;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.header-carousel-content.color-white p,
.header-carousel-content.color-white h2,
.header-carousel-content.color-white h3 {
  color: white;
}

.header-tab {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}

.header-tab .container:before, .header-tab .container:after {
  content: "";
  display: table;
}

.header-tab .container:after {
  clear: both;
}

.header-tab .container {
  *zoom: 1;
}

.header-tab-left {
  float: left;
  width: 720px;
}

.header-tab-left ul {
  float: left;
  width: 210px;
  background-color: #272a2c;
}

.header-tab-left-li {
  position: relative;
  border-left: 4px solid transparent;
  padding: 15px 10px 0 12px;
  height: 55px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header-tab-left-li span {
  position: absolute;
  z-index: 1;
  display: none;
  right: -16px;
  top: 50%;
  margin-top: -8px;
  border-left: 8px solid #080909;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.header-tab-left-li.current, .header-tab-left-li:hover {
  border-color: #cf0f32;
  background: #080909;
}

.header-tab-left-li.current span, .header-tab-left-li:hover span {
  display: block;
}

.header-tab-left-li img {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.header-tab-left-li div {
  float: left;
  width: 129px;
}

.header-tab-left-li div p {
  color: #5c6266;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-tab-left-li h4 {
  font-size: 14px;
  color: #c3c3c3;
  line-height: 20px;
  margin-bottom: 3px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header-tab-left-content {
  position: relative;
  float: right;
  width: 510px;
  height: 350px;
  background-color: #000000;
}

.header-tab-left-content a {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.header-tab-left-content a:nth-last-child(-n+4) {
  display: none;
}

.header-news {
  position: relative;
  float: left;
  width: 540px;
  height: 350px;
  padding: 20px 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #282b2d;
}

.header-news-more {
  position: absolute;
  right: 0;
  top: 0;
  width: 37px;
  height: 37px;
  background-image: url(../images/index/tools_spriter.png);
  background-repeat: no-repeat;
}

.header-news-top {
  display: block;
  font-size: 24px;
  color: #cf0f32;
  font-weight: 700;
  padding-bottom: 14px;
  line-height: normal;
  border-bottom: 1px #3d4041 solid;
}

.header-news-top:hover {
  color: #e41f43;
}

.header-news-recommend {
  margin-top: 14px;
  margin-bottom: 10px;
  background-color: #333638;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-image: url(../images/index/header_news_recommend.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 55px;
}

.header-news-recommend a {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.header-news ul li {
  font-size: 14px;
  line-height: 31px;
}

.header-news ul li:before, .header-news ul li:after {
  content: "";
  display: table;
}

.header-news ul li:after {
  clear: both;
}

.header-news ul li {
  *zoom: 1;
}

.header-news ul a {
  float: left;
  color: #c3c3c3;
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 22px;
  background-image: url(../images/index/header_news_li.png);
  background-repeat: no-repeat;
  background-position: center left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-news ul a:hover {
  color: white;
  font-weight: 700;
}

.header-news ul span {
  float: right;
  color: #727272;
}

/* 头部 end */
/* banner栏  start */
.banner {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 130px;
  background-color: #f6f7fb;
}

.banner ul {
  width: 100%;
}

.banner ul:before, .banner ul:after {
  content: "";
  display: table;
}

.banner ul:after {
  clear: both;
}

.banner ul {
  *zoom: 1;
}

.banner li {
  position: relative;
  float: left;
}

.banner li:hover span {
  width: 41px;
}

.banner li:nth-child(-n+3) {
  margin-right: 20px;
}

.banner a {
  display: block;
}

.banner img {
  width: 300px;
  height: 130px;
}

.banner span {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 19px;
  left: 16px;
  -webkit-transition: ease-in-out .3s all;
  transition: ease-in-out .3s all;
}

/* banner栏  end */
/* main主体部分  start */
main {
  background-color: #f6f7fb;
  height: 810px;
}

main:before, main:after {
  content: "";
  display: table;
}

main:after {
  clear: both;
}

main {
  *zoom: 1;
}

.main-hot {
  float: left;
  width: 960px;
}

.main-hot-title {
  font-size: 22px;
  color: #272a2c;
  border-left: 4px #cf1132 solid;
  line-height: 22px;
  text-indent: 15px;
  margin-bottom: 30px;
}

.main-hot-title span {
  float: right;
  font-size: 16px;
  cursor: pointer;
  line-height: 22px;
  margin-right: 20px;
}

.main-hot-title i {
  display: inline-block;
  width: 21px;
  height: 17px;
  margin-left: 10px;
  background-image: url(../images/index/tools_spriter.png);
  background-repeat: no-repeat;
  background-position: -20px -37px;
  vertical-align: middle;
  margin-bottom: 4px;
}

.main-hot-content:before, .main-hot-content:after {
  content: "";
  display: table;
}

.main-hot-content:after {
  clear: both;
}

.main-hot-content {
  *zoom: 1;
}

.main-hot-content li {
  position: relative;
  float: left;
  width: 300px;
  height: 318px;
  background-color: white;
  margin-bottom: 20px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.main-hot-content li:nth-child(1),
.main-hot-content li:nth-child(2),
.main-hot-content li:nth-child(4),
.main-hot-content li:nth-child(5) {
  margin-right: 20px;
}

.main-hot-content img {
  width: 100%;
  height: 170px;
}

.main-hot-content h3 {
  color: #383838;
  font: 700 20px/32px "Microsoft YaHei";
  margin: 13px 20px 2px;
  height: 32px;
}

.main-hot-content p {
  margin: 0 16px;
  font: 14px "Microsoft YaHei";
  color: #b1b1b1;
  line-height: 22px;
  padding: 0 2px;
  height: 45px;
  padding-bottom: 13px;
  border-bottom: 1px solid #ededed;
}

.main-hot-upload {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.main-hot-upload img:nth-child(2) {
  position: absolute;
  top: -100%;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.main-hot-upload:hover img:nth-child(2) {
  top: 0;
  opacity: 1;
}

@-webkit-keyframes enterfade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes enterfade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.main-hot-enter {
  position: absolute;
  display: block;
  right: 20px;
  bottom: 8px;
  width: 88px;
  height: 30px;
  color: #9f9f9f;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  background-image: url(../images/index/main_hot_enter.png);
  background-repeat: no-repeat;
  background-position: center right;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.main-hot-enter:hover {
  color: #c21d35;
  background-image: url(../images/index/main_hot_enter_red.png);
  -webkit-animation: enterfade .3s linear .2s 1 normal;
          animation: enterfade .3s linear .2s 1 normal;
}

.main-new {
  float: left;
  width: 300px;
}

.main-new h2 {
  font-size: 22px;
  color: #272a2c;
  border-left: 4px #cf1132 solid;
  line-height: 22px;
  text-indent: 15px;
  margin-bottom: 30px;
  font-weight: normal;
}

.main-new ul {
  border: 1px solid #ededed;
}

.main-new li {
  border-top: 1px solid #ededed;
  background-color: white;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.main-new li:hover {
  background-color: #f0f2f7;
}

.main-new li:hover .main-new-arrow {
  background-image: url(../images/index/main_new_arrow_red.png);
}

.main-new a {
  position: relative;
  display: block;
  height: 88px;
  padding: 20px 42px 0px 26px;
}

.main-new img {
  float: left;
  width: 68px;
  height: 68px;
  margin-right: 22px;
}

.main-new p {
  float: left;
  width: 140px;
}

.main-new b,
.main-new s,
.main-new span {
  display: block;
}

.main-new b {
  font-size: 16px;
  color: #555;
  line-height: 22px;
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
}

.main-new s,
.main-new span {
  color: #999;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-new s {
  font-size: 14px;
}

.main-new span {
  font-size: 12px;
}

.main-new span i {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url(../images/index/tools_spriter.png);
  background-repeat: no-repeat;
  background-position: -37px -20px;
  vertical-align: middle;
  margin-right: 7px;
}

.main-new-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -14px;
  width: 15px;
  height: 28px;
  background-image: url(../images/index/main_new_arrow.png);
  background-repeat: no-repeat;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

/* main主体部分  end */
/* 底部游戏菜单  start */
.bottom-gamenav {
  padding-bottom: 40px;
}

.bottom-gamenav .gamenav {
  position: static;
  display: block;
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding-bottom: 0;
  height: 460px;
  overflow: hidden;
}

.bottom-gamenav .gamenav:before, .bottom-gamenav .gamenav:after {
  content: "";
  display: table;
}

.bottom-gamenav .gamenav:after {
  clear: both;
}

.bottom-gamenav .gamenav {
  *zoom: 1;
}

.bottom-gamenav .gamenav a {
  color: #666666;
}

.bottom-gamenav .gamenav a:hover {
  font-weight: 700;
  color: #666666;
}

.bottom-gamenav .gamenav-client > div:nth-child(1),
.bottom-gamenav .gamenav-mobile > div:nth-child(1) {
  background-color: #fbfbfb;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #222222;
  border-color: #eee;
}

.bottom-gamenav .gamenav-client-relax,
.bottom-gamenav .gamenav-client-role,
.bottom-gamenav .gamenav-mobile-hot,
.bottom-gamenav .gamenav-mobile-new {
  border-color: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
}

.gamenav-client-relax h4,
.gamenav-client-role h4,
.gamenav-mobile-hot h4,
.gamenav-mobile-new h4 {
  color: #c21d35;
}

.bottom-gamenav-viewmore {
  display: block;
  background-color: #f1f1f1;
  width: 120px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  margin: 40px auto 0;
  font-size: 14px;
  color: #6d6d6d;
}

.bottom-gamenav-viewmore:hover {
  background-color: #dbdcdf;
}

.bottom-gamenav-sign {
  margin-top: 20px;
  text-align: center;
}

.bottom-gamenav-sign span:nth-child(1) {
  margin-right: 5px;
}

.bottom-gamenav-sign i {
  display: inline-block;
  margin: 0 5px;
  background-image: url(../images/index/topnav_spriter.png);
  background-repeat: no-repeat;
  vertical-align: baseline;
}

/* 底部游戏菜单  end */
/* 底部 服务栏  start */
.bottom {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f6f7fb;
}

.bottom .container:before, .bottom .container:after {
  content: "";
  display: table;
}

.bottom .container:after {
  clear: both;
}

.bottom .container {
  *zoom: 1;
}

.bottom h3 {
  text-indent: 30px;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 20px;
  color: #888;
  font-weight: normal;
  background-image: url(../images/index/bottom_corner.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.bottom ul:before, .bottom ul:after {
  content: "";
  display: table;
}

.bottom ul:after {
  clear: both;
}

.bottom ul {
  *zoom: 1;
}

.bottom li {
  float: left;
  width: 150px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.bottom h4 {
  color: #222222;
  line-height: 30px;
  font-size: 16px;
  font-weight: normal;
}

.bottom p {
  color: #808080;
  line-height: 30px;
}

.bottom-helper,
.bottom-recharge,
.bottom-safety,
.bottom-synthesize {
  float: left;
}

.bottom-helper a,
.bottom-recharge a,
.bottom-safety a,
.bottom-synthesize a {
  display: block;
  background-color: #e3e3e3;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.bottom-helper a:hover,
.bottom-recharge a:hover,
.bottom-safety a:hover,
.bottom-synthesize a:hover {
  background-color: #cf1132;
}

.bottom-helper a:hover h4,
.bottom-helper a:hover p,
.bottom-recharge a:hover h4,
.bottom-recharge a:hover p,
.bottom-safety a:hover h4,
.bottom-safety a:hover p,
.bottom-synthesize a:hover h4,
.bottom-synthesize a:hover p {
  color: white;
}

.bottom-helper,
.bottom-recharge,
.bottom-safety {
  margin-right: 14px;
}

.bottom-helper,
.bottom-safety {
  width: 152px;
}

.bottom-recharge {
  width: 304px;
}

.bottom-synthesize {
  width: 608px;
}

.bottom-serve {
  margin-top: 30px;
  color: #d9dde1;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
}

.bottom-serve span {
  font-size: 14px;
  color: #454240;
}

.bottom-serve a {
  color: #888888;
}

.bottom-serve .bottom-serve-phone {
  margin-left: 430px;
}

.bottom-serve a:last-child {
  color: #454240;
  font-size: 18px;
}

/* 底部 服务栏  end */
/* footer部分  start */
footer {
  padding: 20px 0;
  background: #272a2c;
  color: white;
}

footer .inner {
  width: 1024px;
  margin: 0 auto;
}

footer .inner > p:nth-child(2) {
  margin-top: 10px;
}

footer .inner p {
  line-height: 24px;
}

footer .inner a {
  color: white;
}

footer .inner a:hover {
  text-decoration: underline;
}

.footer-top {
  margin-top: 15px;
}

.footer-top:before, .footer-top:after {
  content: "";
  display: table;
}

.footer-top:after {
  clear: both;
}

.footer-top {
  *zoom: 1;
}

.footer-top-left {
  float: left;
  height: 48px;
  min-width: 300px;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-top-right {
  float: left;
  font-size: 12px;
}

/* footer部分  end */
/*# sourceMappingURL=index.css.map */