@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    & {
        *zoom: 1;
    }
}

/* 顶部导航  start */
nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 26px;
    height: 38px;
    min-width: 1280px;
    z-index: 1;
}

.nav-logo {
    float: left;
    margin-left: 30px;
    a {
        display: block;
    }
}

.nav-right {
    float: right;
    margin-right: 30px;    
}

.nav-right-nav {
    @include clearfix();
    >li {
        position: relative;
        float: left;
        >a {
            display: block;
            line-height: 38px;
            height: 38px;
            box-sizing: border-box;
            padding: 0 20px;
            margin: 0 10px;
            border: 1px solid transparent;
            color: #ffffff;
            font-size: 16px;
            border-radius: 0px;
            transition: background-color ease .3s, border-color ease .3s, border-radius ease .3s;
            &:hover,
            &.current {
                border-radius: 4px;
                background-color: rgba(255,255,255,.1);
                border-color: #ffffff;
            }
        }
    }
}

.nav-right-followus {
    position: absolute;
    display: none;
    top: 34px;
    left: -700px;
    width: 821px;
    height: 216px;
    background-image: url(../images/mumu/nav_followus_bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    ul {
        display: flex;
        padding-top: 38px;
        
    }
    li {
        flex: 1;
        margin: 0 16px;
        color: #ffffff;
        font-size: 14px;
    }
    a {
        display: block;
        color: #ffffff;
        text-decoration: underline;
    }
    img {
        width: 94px;
        height: 94px;
    }
    p:nth-child(2) {
        margin-top: 14px;
    }
    p:nth-child(3) {
        margin-top: 12px;
    }
}
/* 顶部导航  end */

header {
    position: relative;
    width: 100%;
    height: 780px;
    background-image: url(../images/mumu/top_bg.webp);
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}

.header-kv {
    height: 100%;
    ul {
        position: relative;
        height: 100%;
    }
    li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        // 每组 kv图  都是这样，所以写到这里
        background-repeat: no-repeat;
        background-position: center top;
        transition: ease 1s all;
        opacity: 0;
    }
    // 每组 kv图  的文字部分都一样
    .header-kv-words {
        position: absolute;
        left: 50%;
        top: 126px;
        margin-left: -590px;
        background-repeat: no-repeat;
        width: 545px;
        height: 215px;
    }
}

// 第一组 kv图
.header-kv-part1 {
    background-image: url(../images/mumu/header_kv_part01.webp);
    &>div:nth-child(-n+3) {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url(../images/mumu/header_kv_part01_layer.png);
        background-repeat: no-repeat;
        background-position: center top;
        opacity: 0; 
        transform: matrix(1, 0, 0, 1, 0, -1000);
    }
    &.current {
        opacity: 1;
        >div:nth-child(-n+3) {
            opacity: 1;
            transform: matrix(1, 0, 0, 1, 0, 0)
        }
    }
    .header-kv-words {
        background-image: url(../images/mumu/header_kv_part01_words.png);
    }
}

.header-kv-part1-layer1 {
    left: 86px;
    top: -84px;
    transition: ease .8s all;
}
.header-kv-part1-layer2 {
    left: 42px;
    top: -53px;
    transition: ease .8s all 0.2s;
}
.header-kv-part1-layer3 {
    left: 0px;
    top: 0px;
    transition: ease .8s all 0.4s;
}

// 第二组 kv图
.header-kv-part2 {
    background-image: url(../images/mumu/header_kv_part02.webp);
    &>div:nth-child(-n+3) {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-image: url(../images/mumu/header_kv_part02_layer.png);
        background-repeat: no-repeat;
        background-position: center top;
        opacity: 0;
    }
     &.current {
        opacity: 1;
        >div:nth-child(-n+3) {
            transform: matrix(1, 0, 0, 1, 0, 0)
        }
        .header-kv-part2-layer1 {
            opacity: 1;
        }
        .header-kv-part2-layer2 {
            opacity: .6;
        }
        .header-kv-part2-layer3 {
            opacity: .3;
        }
    }
    // 文字部分
    .header-kv-words {
        background-image: url(../images/mumu/header_kv_part02_words.png);
    }
}

.header-kv-part2-layer1 {
    top: 0;
    transform: matrix(1, 0, 0, 1, 0, 46);
    // 这次的三个transition时长，延迟  和上一part的不一样， 这次的transition 开启和时长一致了，才是效果最好的
    transition: ease 2s all;
}
.header-kv-part2-layer2 {
    top: 23px;
    transform: matrix(1, 0, 0, 1, 0, 23);
    transition: ease 2s all;
}
.header-kv-part2-layer3 {
    top: 46px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: ease 2s all;
}

// 第三组 kv图
.header-kv-part3 {
    background-image: url(../images/mumu/header_kv_part03.webp);
    // 四个 闪电
    div:nth-child(-n+4) {
        position: absolute;
        width: 619px;
        height: 390px;    
        left: 50%;
        background-image: url(../images/mumu/header_kv_part03_layer_lightning.png);
        background-repeat: no-repeat;
        background-position: center top;
        opacity: 0;
        transform: translate3d(0px,0px,0px) scale(0, 0);
        transition: ease 2s all;
    }
    // 两层 圆环
    div:nth-child(5),
    div:nth-child(6) {
        position: absolute;
        background-image: url(../images/mumu/header_kv_part03_layer_circle.png);
        background-repeat: no-repeat;
        background-position: center top;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        transition: ease 2s all;
    }
    div:nth-child(5) {
        transform: matrix(1,0,0,1,0,32);
    }
    div:nth-child(6) {
        top: 32px;
        transform: matrix(1,0,0,1,0,0);
    }
     &.current {
        opacity: 1;
        >div:nth-child(-n+4) {
            opacity: 1;
            transform: translate3d(0px,0px,0px) scale(1, 1);
        }
        .header-kv-part3-layer-circle1 {
            opacity: 1;
            transform: matrix(1,0,0,1,0,0);
        }
        .header-kv-part3-layer-circle2 {
            opacity: 0.5;
            transform: matrix(1,0,0,1,0,0);
        }
    }
    // 文字部分
    .header-kv-words {
        background-image: url(../images/mumu/header_kv_part03_words.png);
    }
}

.header-kv-part3-layer-lightning1 {
    margin-left: -1070px;
    top: 266px;
}
.header-kv-part3-layer-lightning2 {
    margin-left: -520px;
    top: -25px;
}
.header-kv-part3-layer-lightning3 {
    margin-left: 490px;
    top: -80px;
}
.header-kv-part3-layer-lightning4 {
    margin-left: 440px;
    top: 543px;
}

.header-kv-part3-layer-circle1 {
    transform: matrix(1,0,0,1,0,32);
}

.header-kv-part3-layer-circle2 {
    transform: matrix(1,0,0,1,0,0);
}

// 第四组 kv图
.header-kv-part4 {
    background-image: url(../images/mumu/header_kv_part04.webp);
    &>div:nth-child(-n+3) {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-image: url(../images/mumu/header_kv_part04_layer.png);
        background-repeat: no-repeat;
        background-position: center top;
        opacity: 0;
        transition: ease 2s all;
    }
     &.current {
        opacity: 1;
        >div:nth-child(-n+3) {
            transform: matrix(1, 0, 0, 1, 0, 0)
        }
        .header-kv-part4-layer1 {
            opacity: 1;
        }
        .header-kv-part4-layer2 {
            opacity: .6;
        }
        .header-kv-part4-layer3 {
            opacity: .3;
        }
    }
    // 文字部分
    .header-kv-words {
        background-image: url(../images/mumu/header_kv_part04_words.png);
    }
}

.header-kv-part4-layer1 {
    top: 0;
    transform: matrix(1, 0, 0, 1, 0, 46);
}
.header-kv-part4-layer2 {
    top: 23px;
    transform: matrix(1, 0, 0, 1, 0, 23);
}
.header-kv-part4-layer3 {
    top: 46px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

// 头部  时间线
.header-timeline {
    position: absolute;
    top: 297px;
    left: 50%;
    margin-left: -590px;
    height: 1px;
    width: 0px;
    background-color: white;
    // 原官网 对时间线的变化节奏 采用了 ease 的节奏， 所以最好还是不用jquery的animate, 继续用C3的transition等实现动画
    transition: width 1s ease;
}

// 头部  下载
.header-upload {
    position: absolute;
    left: 50%;
    top: 398px;
    margin-left: -590px;
    text-align: center;
    a:nth-child(3),
    a:nth-child(4) {
        color: white;
        font-size: 16px;
        margin: 0 5px;
        line-height: 34px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.header-upload-window,
.header-upload-mac {
    position: relative;
    display: block;
    width: 300px;
    height: 68px;
    background-image: url(../images/mumu/spriter01.png);
    background-repeat: no-repeat;
    overflow: hidden;
    &:hover {
        i {
            top: -68px;
        }
    }
    i {
        position: absolute;
        display: block;
        top: 0;
        left: 47px;
        transition: top ease-in-out .2s;
    }
    span {
        display: block;
        width: 68px;
        height: 68px;
        top: 0;
        left: 0;
        background-image: url(../images/mumu/spriter01.png);
        background-repeat: no-repeat;
    }
    p {
        position: absolute;
        width: 100%;
        font-size: 13px;
        color: #5e9cf8;
        left: 50%;
        top: 50%;
        transform: translate(-40%,45%);
        text-align: center;
        line-height: 21px;
    }
}

.header-upload-window {
    background-position: 0px -156px;
    margin-bottom: 13px;
    span {
        background-position: -156px 0;
    }
}

.header-upload-mac {
    background-position: -224px 0px;
    span {
        background-position: -224px -68px;
    }
}

// 播放视频按钮
.header-upload-player {
    position: absolute;
    right: -100px;
    top: 81px;
    display: block;
    span {
        display: block;
        width: 68px;
        height: 68px;
        background-image: url(../images/mumu/spriter01.png);
        background-repeat: no-repeat;
        background-position: -78px -78px;
        transition: opacity .4s ease;
    }
    p {
        color:white;
        font-size: 14px;
        line-height: 34px;
    }
    &:hover {
        span {
            opacity: 0.5;
        }
    }
}

// 波浪
.wave {
    position: absolute;
    width: 100%;
    height: 180px;
    bottom: -20px;
    left: 0px;
}

// 弹窗
.mask {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,.8);
    opacity: 0.8;
}

// 下载介绍视频
.show-video {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    i {
        position: absolute;
        display: block;
        width: 54px;
        height: 54px;
        top: 0px;
        right: -64px;
        cursor: pointer;
        transition: all .5s ease 0s;
        background-image: url(../images/mumu/close_btn.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        &:hover {
            transform: rotate(180deg);
        }
    }
}

/*
   kv图的  tab 切换
*/

// 左环往出旋转的的动画
@keyframes circleLeft{
    0% {
        transform: rotateZ(45deg);
    }
    100% {
        transform: rotateZ(225deg);
    }
}
@keyframes circleRight{
    0% {
        opacity: 0;
        transform: rotateZ(45deg);
    }
    1% {
        opacity: 1;
        transform: rotateZ(45deg);
    }
    100% {
        transform: rotateZ(225deg);
        opacity: 1;
    }
}
@keyframes circleSpan {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.tab-circle {
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 8px;
        overflow: hidden;
    }
    .current {
        .tab-circle-left {
            border-left-color: #59cbff;
            border-bottom-color: #59cbff;
            animation: circleLeft 2.5s linear forwards;
        }
        span {
            animation: circleSpan .1s linear forwards 1s;
        }
        .tab-circle-right {
            border-right-color: #59cbff;
            border-top-color: #59cbff;
            animation: circleRight 2.4s linear forwards 2.5s;
        }
        .tab-circle-core {
            display: none;
        }
    }
    // 这个span用来弥补  刚开始可能会在底部露出的一点红色左边环 
    span {
        position: absolute;
        bottom: 0;
        left: 2px;
        display: block;
        width: 10px;
        height: 10px;
        background-color: white;
        z-index: 3;
    }
}

.tab-circle-core {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #d2d4d5;
    z-index: 4;
}

.tab-circle-left,
.tab-circle-right {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 12px;
    height: 12px;
    border: 4px solid transparent;
    border-radius: 50%;
}

.tab-circle-left {
    transform: rotateZ(45deg);
    z-index: 1;
}

.tab-circle-right {
    transform: rotateZ(45deg);
    opacity: 0;
    z-index: 3;
}

.tab-circle-mask {
    position: absolute;
    height: 22px;
    // 这里 需要 退后一点点，不然当两边圆环都形成的最后一刻，可能会有一条缝隙
    width: 9px;
    left: 0px;
    top: -1px;
    background-color: white;
    z-index: 2;
}