@charset "UTF-8";
/* 顶部导航  start */
nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 26px;
  height: 38px;
  min-width: 1280px;
  z-index: 1;
}

.nav-logo {
  float: left;
  margin-left: 30px;
}

.nav-logo a {
  display: block;
}

.nav-right {
  float: right;
  margin-right: 30px;
}

.nav-right-nav:before, .nav-right-nav:after {
  content: "";
  display: table;
}

.nav-right-nav:after {
  clear: both;
}

.nav-right-nav {
  *zoom: 1;
}

.nav-right-nav > li {
  position: relative;
  float: left;
}

.nav-right-nav > li > a {
  display: block;
  line-height: 38px;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  margin: 0 10px;
  border: 1px solid transparent;
  color: #ffffff;
  font-size: 16px;
  border-radius: 0px;
  -webkit-transition: background-color ease .3s, border-color ease .3s, border-radius ease .3s;
  transition: background-color ease .3s, border-color ease .3s, border-radius ease .3s;
}

.nav-right-nav > li > a:hover, .nav-right-nav > li > a.current {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #ffffff;
}

.nav-right-followus {
  position: absolute;
  display: none;
  top: 34px;
  left: -700px;
  width: 821px;
  height: 216px;
  background-image: url(../images/mumu/nav_followus_bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
}

.nav-right-followus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 38px;
}

.nav-right-followus li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 16px;
  color: #ffffff;
  font-size: 14px;
}

.nav-right-followus a {
  display: block;
  color: #ffffff;
  text-decoration: underline;
}

.nav-right-followus img {
  width: 94px;
  height: 94px;
}

.nav-right-followus p:nth-child(2) {
  margin-top: 14px;
}

.nav-right-followus p:nth-child(3) {
  margin-top: 12px;
}

/* 顶部导航  end */
header {
  position: relative;
  width: 100%;
  height: 780px;
  background-image: url(../images/mumu/top_bg.webp);
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
}

.header-kv {
  height: 100%;
}

.header-kv ul {
  position: relative;
  height: 100%;
}

.header-kv li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
  opacity: 0;
}

.header-kv .header-kv-words {
  position: absolute;
  left: 50%;
  top: 126px;
  margin-left: -590px;
  background-repeat: no-repeat;
  width: 545px;
  height: 215px;
}

.header-kv-part1 {
  background-image: url(../images/mumu/header_kv_part01.webp);
}

.header-kv-part1 > div:nth-child(-n+3) {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/mumu/header_kv_part01_layer.png);
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0;
  -webkit-transform: matrix(1, 0, 0, 1, 0, -1000);
          transform: matrix(1, 0, 0, 1, 0, -1000);
}

.header-kv-part1.current {
  opacity: 1;
}

.header-kv-part1.current > div:nth-child(-n+3) {
  opacity: 1;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.header-kv-part1 .header-kv-words {
  background-image: url(../images/mumu/header_kv_part01_words.png);
}

.header-kv-part1-layer1 {
  left: 86px;
  top: -84px;
  -webkit-transition: ease .8s all;
  transition: ease .8s all;
}

.header-kv-part1-layer2 {
  left: 42px;
  top: -53px;
  -webkit-transition: ease .8s all 0.2s;
  transition: ease .8s all 0.2s;
}

.header-kv-part1-layer3 {
  left: 0px;
  top: 0px;
  -webkit-transition: ease .8s all 0.4s;
  transition: ease .8s all 0.4s;
}

.header-kv-part2 {
  background-image: url(../images/mumu/header_kv_part02.webp);
}

.header-kv-part2 > div:nth-child(-n+3) {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-image: url(../images/mumu/header_kv_part02_layer.png);
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0;
}

.header-kv-part2.current {
  opacity: 1;
}

.header-kv-part2.current > div:nth-child(-n+3) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.header-kv-part2.current .header-kv-part2-layer1 {
  opacity: 1;
}

.header-kv-part2.current .header-kv-part2-layer2 {
  opacity: .6;
}

.header-kv-part2.current .header-kv-part2-layer3 {
  opacity: .3;
}

.header-kv-part2 .header-kv-words {
  background-image: url(../images/mumu/header_kv_part02_words.png);
}

.header-kv-part2-layer1 {
  top: 0;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 46);
          transform: matrix(1, 0, 0, 1, 0, 46);
  -webkit-transition: ease 2s all;
  transition: ease 2s all;
}

.header-kv-part2-layer2 {
  top: 23px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 23);
          transform: matrix(1, 0, 0, 1, 0, 23);
  -webkit-transition: ease 2s all;
  transition: ease 2s all;
}

.header-kv-part2-layer3 {
  top: 46px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transition: ease 2s all;
  transition: ease 2s all;
}

.header-kv-part3 {
  background-image: url(../images/mumu/header_kv_part03.webp);
}

.header-kv-part3 div:nth-child(-n+4) {
  position: absolute;
  width: 619px;
  height: 390px;
  left: 50%;
  background-image: url(../images/mumu/header_kv_part03_layer_lightning.png);
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0;
  -webkit-transform: translate3d(0px, 0px, 0px) scale(0, 0);
          transform: translate3d(0px, 0px, 0px) scale(0, 0);
  -webkit-transition: ease 2s all;
  transition: ease 2s all;
}

.header-kv-part3 div:nth-child(5),
.header-kv-part3 div:nth-child(6) {
  position: absolute;
  background-image: url(../images/mumu/header_kv_part03_layer_circle.png);
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: ease 2s all;
  transition: ease 2s all;
}

.header-kv-part3 div:nth-child(5) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 32);
          transform: matrix(1, 0, 0, 1, 0, 32);
}

.header-kv-part3 div:nth-child(6) {
  top: 32px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.header-kv-part3.current {
  opacity: 1;
}

.header-kv-part3.current > div:nth-child(-n+4) {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px) scale(1, 1);
          transform: translate3d(0px, 0px, 0px) scale(1, 1);
}

.header-kv-part3.current .header-kv-part3-layer-circle1 {
  opacity: 1;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.header-kv-part3.current .header-kv-part3-layer-circle2 {
  opacity: 0.5;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.header-kv-part3 .header-kv-words {
  background-image: url(../images/mumu/header_kv_part03_words.png);
}

.header-kv-part3-layer-lightning1 {
  margin-left: -1070px;
  top: 266px;
}

.header-kv-part3-layer-lightning2 {
  margin-left: -520px;
  top: -25px;
}

.header-kv-part3-layer-lightning3 {
  margin-left: 490px;
  top: -80px;
}

.header-kv-part3-layer-lightning4 {
  margin-left: 440px;
  top: 543px;
}

.header-kv-part3-layer-circle1 {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 32);
          transform: matrix(1, 0, 0, 1, 0, 32);
}

.header-kv-part3-layer-circle2 {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.header-kv-part4 {
  background-image: url(../images/mumu/header_kv_part04.webp);
}

.header-kv-part4 > div:nth-child(-n+3) {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-image: url(../images/mumu/header_kv_part04_layer.png);
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0;
  -webkit-transition: ease 2s all;
  transition: ease 2s all;
}

.header-kv-part4.current {
  opacity: 1;
}

.header-kv-part4.current > div:nth-child(-n+3) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.header-kv-part4.current .header-kv-part4-layer1 {
  opacity: 1;
}

.header-kv-part4.current .header-kv-part4-layer2 {
  opacity: .6;
}

.header-kv-part4.current .header-kv-part4-layer3 {
  opacity: .3;
}

.header-kv-part4 .header-kv-words {
  background-image: url(../images/mumu/header_kv_part04_words.png);
}

.header-kv-part4-layer1 {
  top: 0;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 46);
          transform: matrix(1, 0, 0, 1, 0, 46);
}

.header-kv-part4-layer2 {
  top: 23px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 23);
          transform: matrix(1, 0, 0, 1, 0, 23);
}

.header-kv-part4-layer3 {
  top: 46px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.header-timeline {
  position: absolute;
  top: 297px;
  left: 50%;
  margin-left: -590px;
  height: 1px;
  width: 0px;
  background-color: white;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.header-upload {
  position: absolute;
  left: 50%;
  top: 398px;
  margin-left: -590px;
  text-align: center;
}

.header-upload a:nth-child(3),
.header-upload a:nth-child(4) {
  color: white;
  font-size: 16px;
  margin: 0 5px;
  line-height: 34px;
}

.header-upload a:nth-child(3):hover,
.header-upload a:nth-child(4):hover {
  text-decoration: underline;
}

.header-upload-window,
.header-upload-mac {
  position: relative;
  display: block;
  width: 300px;
  height: 68px;
  background-image: url(../images/mumu/spriter01.png);
  background-repeat: no-repeat;
  overflow: hidden;
}

.header-upload-window:hover i,
.header-upload-mac:hover i {
  top: -68px;
}

.header-upload-window i,
.header-upload-mac i {
  position: absolute;
  display: block;
  top: 0;
  left: 47px;
  -webkit-transition: top ease-in-out .2s;
  transition: top ease-in-out .2s;
}

.header-upload-window span,
.header-upload-mac span {
  display: block;
  width: 68px;
  height: 68px;
  top: 0;
  left: 0;
  background-image: url(../images/mumu/spriter01.png);
  background-repeat: no-repeat;
}

.header-upload-window p,
.header-upload-mac p {
  position: absolute;
  width: 100%;
  font-size: 13px;
  color: #5e9cf8;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-40%, 45%);
          transform: translate(-40%, 45%);
  text-align: center;
  line-height: 21px;
}

.header-upload-window {
  background-position: 0px -156px;
  margin-bottom: 13px;
}

.header-upload-window span {
  background-position: -156px 0;
}

.header-upload-mac {
  background-position: -224px 0px;
}

.header-upload-mac span {
  background-position: -224px -68px;
}

.header-upload-player {
  position: absolute;
  right: -100px;
  top: 81px;
  display: block;
}

.header-upload-player span {
  display: block;
  width: 68px;
  height: 68px;
  background-image: url(../images/mumu/spriter01.png);
  background-repeat: no-repeat;
  background-position: -78px -78px;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.header-upload-player p {
  color: white;
  font-size: 14px;
  line-height: 34px;
}

.header-upload-player:hover span {
  opacity: 0.5;
}

.wave {
  position: absolute;
  width: 100%;
  height: 180px;
  bottom: -20px;
  left: 0px;
}

.mask {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}

.show-video {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
}

.show-video i {
  position: absolute;
  display: block;
  width: 54px;
  height: 54px;
  top: 0px;
  right: -64px;
  cursor: pointer;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  background-image: url(../images/mumu/close_btn.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.show-video i:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*
   kv图的  tab 切换
*/
@-webkit-keyframes circleLeft {
  0% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  100% {
    -webkit-transform: rotateZ(225deg);
            transform: rotateZ(225deg);
  }
}
@keyframes circleLeft {
  0% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  100% {
    -webkit-transform: rotateZ(225deg);
            transform: rotateZ(225deg);
  }
}

@-webkit-keyframes circleRight {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  1% {
    opacity: 1;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  100% {
    -webkit-transform: rotateZ(225deg);
            transform: rotateZ(225deg);
    opacity: 1;
  }
}

@keyframes circleRight {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  1% {
    opacity: 1;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  100% {
    -webkit-transform: rotateZ(225deg);
            transform: rotateZ(225deg);
    opacity: 1;
  }
}

@-webkit-keyframes circleSpan {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes circleSpan {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.tab-circle {
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}

.tab-circle li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 8px;
  overflow: hidden;
}

.tab-circle .current .tab-circle-left {
  border-left-color: #59cbff;
  border-bottom-color: #59cbff;
  -webkit-animation: circleLeft 2.5s linear forwards;
          animation: circleLeft 2.5s linear forwards;
}

.tab-circle .current span {
  -webkit-animation: circleSpan .1s linear forwards 1s;
          animation: circleSpan .1s linear forwards 1s;
}

.tab-circle .current .tab-circle-right {
  border-right-color: #59cbff;
  border-top-color: #59cbff;
  -webkit-animation: circleRight 2.4s linear forwards 2.5s;
          animation: circleRight 2.4s linear forwards 2.5s;
}

.tab-circle .current .tab-circle-core {
  display: none;
}

.tab-circle span {
  position: absolute;
  bottom: 0;
  left: 2px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  z-index: 3;
}

.tab-circle-core {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #d2d4d5;
  z-index: 4;
}

.tab-circle-left,
.tab-circle-right {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  border: 4px solid transparent;
  border-radius: 50%;
}

.tab-circle-left {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  z-index: 1;
}

.tab-circle-right {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  opacity: 0;
  z-index: 3;
}

.tab-circle-mask {
  position: absolute;
  height: 22px;
  width: 9px;
  left: 0px;
  top: -1px;
  background-color: white;
  z-index: 2;
}
/*# sourceMappingURL=mumu.css.map */