body {
    height: 10000px;
}
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    & {
        *zoom: 1;
    }
}

/* 顶部导航  start */
nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 26px;
    height: 38px;
    min-width: 1280px;
    z-index: 1;
}

.nav-logo {
    float: left;
    margin-left: 30px;
    a {
        display: block;
    }
}

.nav-right {
    float: right;
    margin-right: 30px;    
}

.nav-right-nav {
    @include clearfix();
    >li {
        position: relative;
        float: left;
        >a {
            display: block;
            line-height: 38px;
            height: 38px;
            box-sizing: border-box;
            padding: 0 20px;
            margin: 0 10px;
            border: 1px solid transparent;
            color: #ffffff;
            font-size: 16px;
            border-radius: 0px;
            transition: background-color ease .3s, border-color ease .3s, border-radius ease .3s;
            &:hover,
            &.current {
                border-radius: 4px;
                background-color: rgba(255,255,255,.1);
                border-color: #ffffff;
            }
        }
    }
}

.nav-right-followus {
    position: absolute;
    display: none;
    top: 34px;
    left: -700px;
    width: 821px;
    height: 216px;
    background-image: url(../images/mumu/nav_followus_bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    ul {
        display: flex;
        padding-top: 38px;
        
    }
    li {
        flex: 1;
        margin: 0 16px;
        color: #ffffff;
        font-size: 14px;
    }
    a {
        display: block;
        color: #ffffff;
        text-decoration: underline;
    }
    img {
        width: 94px;
        height: 94px;
    }
    p:nth-child(2) {
        margin-top: 14px;
    }
    p:nth-child(3) {
        margin-top: 12px;
    }
}
/* 顶部导航  end */


/* 头部  start */
header {
    position: relative;
    width: 100%;
    height: 780px;
    background-image: url(../images/mumu/top_bg.webp);
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}

.header-kv {
    height: 100%;
    ul {
        position: relative;
        height: 100%;
    }
    li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        // 每组 kv图  都是这样，所以写到这里
        background-repeat: no-repeat;
        background-position: center top;
        transition: ease 1s all;
        opacity: 0;
    }
    // 每组 kv图  的文字部分都一样
    .header-kv-words {
        position: absolute;
        left: 50%;
        top: 126px;
        margin-left: -590px;
        background-repeat: no-repeat;
        width: 545px;
        height: 215px;
    }
}

// 第一组 kv图
.header-kv-part1 {
    background-image: url(../images/mumu/header_kv_part01.webp);
    &>div:nth-child(-n+3) {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url(../images/mumu/header_kv_part01_layer.png);
        background-repeat: no-repeat;
        background-position: center top;
        opacity: 0; 
        transform: matrix(1, 0, 0, 1, 0, -1000);
    }
    &.current {
        opacity: 1;
        >div:nth-child(-n+3) {
            opacity: 1;
            transform: matrix(1, 0, 0, 1, 0, 0)
        }
    }
    .header-kv-words {
        background-image: url(../images/mumu/header_kv_part01_words.png);
    }
}

.header-kv-part1-layer1 {
    left: 86px;
    top: -84px;
    transition: ease .8s all;
}
.header-kv-part1-layer2 {
    left: 42px;
    top: -53px;
    transition: ease .8s all 0.2s;
}
.header-kv-part1-layer3 {
    left: 0px;
    top: 0px;
    transition: ease .8s all 0.4s;
}

// 第二组 kv图
.header-kv-part2 {
    background-image: url(../images/mumu/header_kv_part02.webp);
    &>div:nth-child(-n+3) {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-image: url(../images/mumu/header_kv_part02_layer.png);
        background-repeat: no-repeat;
        background-position: center top;
        opacity: 0;
    }
     &.current {
        opacity: 1;
        >div:nth-child(-n+3) {
            transform: matrix(1, 0, 0, 1, 0, 0)
        }
        .header-kv-part2-layer1 {
            opacity: 1;
        }
        .header-kv-part2-layer2 {
            opacity: .6;
        }
        .header-kv-part2-layer3 {
            opacity: .3;
        }
    }
    // 文字部分
    .header-kv-words {
        background-image: url(../images/mumu/header_kv_part02_words.png);
    }
}

.header-kv-part2-layer1 {
    top: 0;
    transform: matrix(1, 0, 0, 1, 0, 46);
    // 这次的三个transition时长，延迟  和上一part的不一样， 这次的transition 开启和时长一致了，才是效果最好的
    transition: ease 2s all;
}
.header-kv-part2-layer2 {
    top: 23px;
    transform: matrix(1, 0, 0, 1, 0, 23);
    transition: ease 2s all;
}
.header-kv-part2-layer3 {
    top: 46px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: ease 2s all;
}

// 第三组 kv图
.header-kv-part3 {
    background-image: url(../images/mumu/header_kv_part03.webp);
    // 四个 闪电
    div:nth-child(-n+4) {
        position: absolute;
        width: 619px;
        height: 390px;    
        left: 50%;
        background-image: url(../images/mumu/header_kv_part03_layer_lightning.png);
        background-repeat: no-repeat;
        background-position: center top;
        opacity: 0;
        transform: translate3d(0px,0px,0px) scale(0, 0);
        transition: ease 2s all;
    }
    // 两层 圆环
    div:nth-child(5),
    div:nth-child(6) {
        position: absolute;
        background-image: url(../images/mumu/header_kv_part03_layer_circle.png);
        background-repeat: no-repeat;
        background-position: center top;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        transition: ease 2s all;
    }
    div:nth-child(5) {
        transform: matrix(1,0,0,1,0,32);
    }
    div:nth-child(6) {
        top: 32px;
        transform: matrix(1,0,0,1,0,0);
    }
     &.current {
        opacity: 1;
        >div:nth-child(-n+4) {
            opacity: 1;
            transform: translate3d(0px,0px,0px) scale(1, 1);
        }
        .header-kv-part3-layer-circle1 {
            opacity: 1;
            transform: matrix(1,0,0,1,0,0);
        }
        .header-kv-part3-layer-circle2 {
            opacity: 0.5;
            transform: matrix(1,0,0,1,0,0);
        }
    }
    // 文字部分
    .header-kv-words {
        background-image: url(../images/mumu/header_kv_part03_words.png);
    }
}

.header-kv-part3-layer-lightning1 {
    margin-left: -1070px;
    top: 266px;
}
.header-kv-part3-layer-lightning2 {
    margin-left: -520px;
    top: -25px;
}
.header-kv-part3-layer-lightning3 {
    margin-left: 490px;
    top: -80px;
}
.header-kv-part3-layer-lightning4 {
    margin-left: 440px;
    top: 543px;
}

.header-kv-part3-layer-circle1 {
    transform: matrix(1,0,0,1,0,32);
}

.header-kv-part3-layer-circle2 {
    transform: matrix(1,0,0,1,0,0);
}

// 第四组 kv图
.header-kv-part4 {
    background-image: url(../images/mumu/header_kv_part04.webp);
    &>div:nth-child(-n+3) {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-image: url(../images/mumu/header_kv_part04_layer.png);
        background-repeat: no-repeat;
        background-position: center top;
        opacity: 0;
        transition: ease 2s all;
    }
     &.current {
        opacity: 1;
        >div:nth-child(-n+3) {
            transform: matrix(1, 0, 0, 1, 0, 0)
        }
        .header-kv-part4-layer1 {
            opacity: 1;
        }
        .header-kv-part4-layer2 {
            opacity: .6;
        }
        .header-kv-part4-layer3 {
            opacity: .3;
        }
    }
    // 文字部分
    .header-kv-words {
        background-image: url(../images/mumu/header_kv_part04_words.png);
    }
}

.header-kv-part4-layer1 {
    top: 0;
    transform: matrix(1, 0, 0, 1, 0, 46);
}
.header-kv-part4-layer2 {
    top: 23px;
    transform: matrix(1, 0, 0, 1, 0, 23);
}
.header-kv-part4-layer3 {
    top: 46px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

// 头部  时间线
.header-timeline {
    position: absolute;
    top: 297px;
    left: 50%;
    margin-left: -590px;
    height: 1px;
    width: 0px;
    background-color: white;
    // 原官网 对时间线的变化节奏 采用了 ease 的节奏， 所以最好还是不用jquery的animate, 继续用C3的transition等实现动画
    transition: width 1s ease;
}

// 头部  下载
.header-upload {
    position: absolute;
    left: 50%;
    top: 398px;
    margin-left: -590px;
    text-align: center;
    a:nth-child(3),
    a:nth-child(4) {
        color: white;
        font-size: 16px;
        margin: 0 5px;
        line-height: 34px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.header-upload-window,
.header-upload-mac {
    position: relative;
    display: block;
    width: 300px;
    height: 68px;
    background-image: url(../images/mumu/spriter01.png);
    background-repeat: no-repeat;
    overflow: hidden;
    &:hover {
        i {
            top: -68px;
        }
    }
    i {
        position: absolute;
        display: block;
        top: 0;
        left: 47px;
        transition: top ease-in-out .2s;
    }
    span {
        display: block;
        width: 68px;
        height: 68px;
        top: 0;
        left: 0;
        background-image: url(../images/mumu/spriter01.png);
        background-repeat: no-repeat;
    }
    p {
        position: absolute;
        width: 100%;
        font-size: 13px;
        color: #5e9cf8;
        left: 50%;
        top: 50%;
        transform: translate(-40%,45%);
        text-align: center;
        line-height: 21px;
    }
}

.header-upload-window {
    background-position: 0px -156px;
    margin-bottom: 13px;
    span {
        background-position: -156px 0;
    }
}

.header-upload-mac {
    background-position: -224px 0px;
    span {
        background-position: -224px -68px;
    }
}

// 播放视频按钮
.header-upload-player {
    position: absolute;
    right: -100px;
    top: 81px;
    display: block;
    span {
        display: block;
        width: 68px;
        height: 68px;
        background-image: url(../images/mumu/spriter01.png);
        background-repeat: no-repeat;
        background-position: -78px -78px;
        transition: opacity .4s ease;
    }
    p {
        color:white;
        font-size: 14px;
        line-height: 34px;
    }
    &:hover {
        span {
            opacity: 0.5;
        }
    }
}

// 波浪
.wave {
    position: absolute;
    width: 100%;
    height: 180px;
    bottom: -20px;
    left: 0px;
}

// 弹窗
.mask {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,.8);
    opacity: 0.8;
}

// 下载介绍视频
.show-video {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    i {
        position: absolute;
        display: block;
        width: 54px;
        height: 54px;
        top: 0px;
        right: -64px;
        cursor: pointer;
        transition: all .5s ease 0s;
        background-image: url(../images/mumu/close_btn.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        &:hover {
            transform: rotate(180deg);
        }
    }
}
/* 头部  end */


/*
   kv图的  tab 切换
*/

// 左环往出旋转的的动画
@keyframes circleLeft{
    0% {
        transform: rotateZ(45deg);
    }
    100% {
        transform: rotateZ(225deg);
    }
}
@keyframes circleRight{
    0% {
        opacity: 0;
        transform: rotateZ(45deg);
    }
    1% {
        opacity: 1;
        transform: rotateZ(45deg);
    }
    100% {
        transform: rotateZ(225deg);
        opacity: 1;
    }
}
@keyframes circleSpan {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.tab-circle {
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 8px;
        overflow: hidden;
    }
    .current {
        .tab-circle-left {
            border-left-color: #59cbff;
            border-bottom-color: #59cbff;
            animation: circleLeft 2.5s linear forwards;
        }
        span {
            animation: circleSpan .1s linear forwards 1s;
        }
        .tab-circle-right {
            border-right-color: #59cbff;
            border-top-color: #59cbff;
            animation: circleRight 2.4s linear forwards 2.5s;
        }
        .tab-circle-core {
            display: none;
        }
    }
    // 这个span用来弥补  刚开始可能会在底部露出的一点红色左边环 
    span {
        position: absolute;
        bottom: 0;
        left: 2px;
        display: block;
        width: 10px;
        height: 10px;
        background-color: white;
        z-index: 3;
    }
}

.tab-circle-core {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #d2d4d5;
    z-index: 4;
}

.tab-circle-left,
.tab-circle-right {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 12px;
    height: 12px;
    border: 4px solid transparent;
    border-radius: 50%;
}

.tab-circle-left {
    transform: rotateZ(45deg);
    z-index: 1;
}

.tab-circle-right {
    transform: rotateZ(45deg);
    opacity: 0;
    z-index: 3;
}

.tab-circle-mask {
    position: absolute;
    height: 22px;
    // 这里 需要 退后一点点，不然当两边圆环都形成的最后一刻，可能会有一条缝隙
    width: 9px;
    left: 0px;
    top: -1px;
    background-color: white;
    z-index: 2;
}

// kv图对应  内容 导航
.tab-content {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 10px;
    font-size: 0;
    li {
        display: inline-block;
        margin: 0 37px;
    }
    li:nth-child(1) {
        a {
            width: 238px;
        }
        span {
            background-position: -215px -284px;
        }
        i {
            background-position: 0px -344px;
        }
    }
    li:nth-child(2) {
        a {
            width: 215px;
        }
        span {
            background-position: -300px -224px;
        }
        i {
            background-position: 0px -284px;
        }
    }
    li:nth-child(3) {
        a {
            width: 166px;
        }
        span {
            background-position: -238px -344px;
        }
        i {
            background-position: -292px -68px;
        }
    }
    li:nth-child(4) {
        a {
            width: 167px;
        }
        span {
            background-position: 0px -404px;
        }
        i {
            background-position: -300px -156px;
        }
    }
    a {
        position: relative;
        display: block;
        height: 60px;
        overflow: hidden;
    }
    span,
    i {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(../images/mumu/spriter01.png);
        background-repeat: no-repeat;
        transition: ease .4s top;
    }
    .current {
        span {
            top: -60px;
        }
        i {
            top: 0px;
        }
    }
    span {
        top: 0;
        left: 0;
    }
    i {
        top: 60px;
        left: 0;
    }
}


/* 游戏专属电脑版 stat */
.computer {
    position: relative;
    padding-top: 60px;
    h2 {
        font-size: 48px;
        color: #3a3a3a;
        font-weight: normal;
        text-align: center;
        line-height: 62px;
        margin-bottom: 60px;
    }
    >div {
        position: relative;
        width: 1192px;
        height: 402px;
        margin: 0 auto;
    }
}

.computer-content {
    position: relative;
    width: 1192px;
    height: 402px;
    overflow: hidden;
    ul {
        position: absolute;
        top: 0px;
        left: 0px;
        @include clearfix();
    }
    li {
        float: left;
        margin: 0 9px;
        border-radius: 9px;
        overflow: hidden;
    }
    a {
        position: relative;
        display: block;
        // 提前给a固定的宽高，可以改善闪屏情况
        width: 280px;
        height: 400px;
        &:hover {
            .computer-content-words {
                top: 0px;
            }
        }
    }
}

.computer-content-words {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 20px 0;
    background-color: rgba(81,201,255,.9);
    color: white;
    transition: top ease .4s;
    h4 {
        font-size: 22px;
        line-height: 28px;
        height: 28px;
    }
    span {
        display: block;
        background-color: white;
        width: 40px;
        height: 4px;
        margin: 20px 0;
    }
    p {
        display: -webkit-box;
        font-size: 16px;
        line-height: 24px;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
    }
    i {
        position: absolute;
        display: block;
        left: 20px;
        bottom: 96px;
        width: 240px;
        height: 2px;
        background-color: #8bd2f4;
    }
    div {
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -75px;
        width: 150px;
        height: 38px;
        border-radius: 32px;
        line-height: 38px;
        text-align: center;
        background-color: white;
        box-shadow: 0 10px 20px rgba(61,128,204,.3);
        color: #5cbaf6;
        transition: ease .4s all;
        &:hover {
            background-color: #f8f062;
        }
    }
}

.computer-content-prev,
.computer-content-next {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 44px;
    height: 44px;
    background-image: url(../images/mumu/spriter01.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.computer-content-prev {
    background-position: -156px -68px;
    left: -62px;
    &:hover {
        background-image: url(../images/mumu/computer_content_prev.png);
        background-position: 0px 0px;
    }
}
.computer-content-next {
    background-position: -458px -68px;
    right: -62px;
    &:hover {
        background-image: url(../images/mumu/computer_content_next.png);
        background-position: 0px 0px;
    }
}
/* 游戏专属电脑版 end */


/* 游戏推荐 栏  start */
.recommend {
    position: relative;
    width: 100%;
    height: 590px;
    margin-top: 80px;
    background-image: url(../images/mumu/recommend_bg.webp);
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
    >h2 {
        color: white;
        font-size: 48px;
        text-align: center;
        font-weight: normal;
        padding-top: 86px;
        padding-bottom: 58px;
    }
}
.recommend-wave {
    position: absolute;
    width: 100%;
    height: 180px;
    bottom: 60px;
    left: 0px;
}

.recommend-content {
    position: relative;
    z-index: 1;
    max-width: 1515px;
    margin: 0 auto;
    ul {
        font-size: 0;
        height: 350px;
        text-align: center;
    }
    li {
        position: relative;
        display: inline-block;
        opacity: 0;
        top: -300px;
        margin: 0 15px;
        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 198px;
            height: 315px;
            bottom: -9px;
            left: 35px;
            background-image: url(../images/mumu/recommend_content_shadow.png);
            background-repeat: no-repeat;
            z-index: -1;
        }
    }
    div {
        width: 220px;
        padding-top: 28px;
        padding-bottom: 13px;
        background-color: white;
        border: 1px solid rgba(96,201,252,.5);
        border-radius: 8px;
    }
    img {
        width: 100px;
        height: 100px;
        box-shadow: 0 5px 15px rgba(158,159,170,.4);
        border-radius: 16px;
    }
    h5 {
        font-size: 18px;
        line-height: 24px;
        color: #575757;
        margin-top: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        color: #9e9faa;
        letter-spacing: 8px;
        text-indent: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    i {
        display: block;
        width: 28px;
        height: 4px;
        background-color: #e0e0e0;
        margin: 20px auto 25px;
    }
    a {
        display: block;
        font-size: 16px;
        width: 140px;
        height: 32px;
        line-height: 32px;
        margin: 0 auto;
        border: 1px solid #59cbff;
        color: #59cbff;
        border-radius: 32px;
        margin-bottom: 15px;
        transition: ease .4s all;
        &:hover {
            color: white;
            background-color: #59cbff;
        }
    }
    a:last-child {
        border: 1px solid #ff8cc2;
        color: #ff8cc2;
        &:hover {
            color: white;
            background-color: #ff8cc2;
        }
    }
}

.recommend-content-prev,
.recommend-content-next {
    position: absolute;
    display: block;
    width: 78px;
    height: 78px;
    top: 144px;
    background-image: url(../images/mumu/spriter01.png);
    background-repeat: no-repeat;
    background-position: 0px -78px;
    cursor: pointer;
    b {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(../images/mumu/spriter01.png);
        background-repeat: no-repeat;
        transition: ease .4s all;
    }
}

.recommend-content-prev {
    left: -94px;
    b {
        background-position: -78px 0px;
    }
    &:hover {
        b {
            transform: translateX(-5px);
        }
    }
}
.recommend-content-next {
    right: -94px;
    b {
        background-position: 0px 0px;
    }
    &:hover {
        b {
            transform: translateX(5px);
        }
    }
}

// 让左右按钮实现响应式
@media screen and (max-width: 1700px) {
    .recommend-content-prev {
        left: 0px;
    }
    .recommend-content-next {
        right: 0px;
    }
}
@media screen and (max-width: 1400px) {
    .recommend-content-prev {
        left: 7px;
    }
    .recommend-content-next {
        right: 7px;
    }
}
/* 游戏推荐 栏  end */