@charset "UTF-8";
body {
  background-color: #f4f4f4;
}

.container {
  width: 1500px;
  margin: 0 auto;
}

/* 顶部导航  start */
nav {
  background-color: #222;
}

nav:before, nav:after {
  content: "";
  display: table;
}

nav:after {
  clear: both;
}

nav {
  *zoom: 1;
}

nav ul {
  float: left;
}

nav ul:before, nav ul:after {
  content: "";
  display: table;
}

nav ul:after {
  clear: both;
}

nav ul {
  *zoom: 1;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  line-height: 90px;
  height: 90px;
}

nav .container > span {
  float: left;
  height: 90px;
  width: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #666666;
  border-top: 35px solid #222;
  border-bottom: 35px solid #222;
}

.nav-logo {
  float: left;
  margin-top: 16px;
}

.nav-left {
  width: 380px;
  margin-left: 120px;
}

.nav-left li {
  margin-right: 70px;
}

.nav-left a {
  position: relative;
  font-size: 20px;
  color: #fff;
}

.nav-left a:hover {
  color: #FFDC00;
  font-weight: 700;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

.nav-left a:hover span {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.nav-left span {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: #FFDC00;
}

.nav-right li {
  margin-left: 44px;
}

.nav-right a {
  position: relative;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.nav-right a:hover {
  color: #fff;
  font-weight: 700;
}

.nav-right a:hover i {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: -webkit-transform .8s linear;
  transition: -webkit-transform .8s linear;
  transition: transform .8s linear;
  transition: transform .8s linear, -webkit-transform .8s linear;
}

.nav-right i {
  background-image: url(../images/play/nav_spriter.png);
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
}

.nav-right li:nth-child(1) i {
  display: inline-block;
  width: 21px;
  height: 19px;
  background-position: -42px 0;
  margin-bottom: -1px;
}

.nav-right li:nth-child(2) i {
  display: inline-block;
  width: 24px;
  height: 19px;
  background-position: -63px 0;
  margin-bottom: -1px;
}

.nav-right li:nth-child(3) i {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: -88px 0;
  margin-bottom: -9px;
}

/* 顶部导航  end */
/* 轮播图  start */
.carousel {
  position: relative;
  background-color: #000000;
}

.carousel ul {
  width: 100%;
  height: 400px;
}

.carousel ul li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  display: none;
}

.carousel ul li:nth-child(1) {
  display: block;
}

.carousel a {
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.carousel img {
  position: absolute;
  height: 100%;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.carousel p {
  position: absolute;
  left: 50%;
  margin-left: -750px;
  color: white;
  bottom: 32px;
  font-size: 44px;
  font-weight: 700;
  width: 1500px;
  z-index: 1;
}

.carousel span {
  position: absolute;
  content: '';
  background: url(../images/play/carousel_words_bg.png) repeat-x 0 bottom;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}

.carousel ol {
  position: absolute;
  right: 20px;
  top: 20px;
}

.carousel ol li {
  float: left;
  width: 25px;
  height: 6px;
  margin-left: 6px;
  background-color: white;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: background-color .5s ease, opacity .5s ease;
  transition: background-color .5s ease, opacity .5s ease;
}

.carousel ol .current {
  opacity: 1;
  background-color: #FFD222;
}

/* 轮播图  end */
/* 爱玩测评  start */
.evaluation,
.fun,
.videos,
.newmedia {
  margin-top: 40px;
}

.evaluation-title,
.fun-title,
.videos-title {
  border-bottom: 1px solid #e4e4e4;
}

.evaluation-title:before, .evaluation-title:after,
.fun-title:before,
.fun-title:after,
.videos-title:before,
.videos-title:after {
  content: "";
  display: table;
}

.evaluation-title:after,
.fun-title:after,
.videos-title:after {
  clear: both;
}

.evaluation-title,
.fun-title,
.videos-title {
  *zoom: 1;
}

.evaluation-title h3,
.fun-title h3,
.videos-title h3 {
  float: left;
  font-size: 36px;
  color: #333333;
  line-height: 1;
  padding-bottom: 8px;
  border-bottom: 6px solid #333333;
}

.evaluation-title a,
.fun-title a,
.videos-title a {
  position: relative;
  float: right;
  display: block;
  height: 50px;
  line-height: 50px;
  padding-right: 20px;
  color: #999;
  font-size: 16px;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.evaluation-title a:after,
.fun-title a:after,
.videos-title a:after {
  content: "";
  position: absolute;
  display: block;
  top: 18px;
  right: 0px;
  width: 8px;
  height: 14px;
  background-image: url(../images/play/icon_spriter.png);
  background-repeat: no-repeat;
  background-position: -11px 0;
}

.evaluation-title a:hover,
.fun-title a:hover,
.videos-title a:hover {
  color: #F4B126;
}

.evaluation-title a:hover:after,
.fun-title a:hover:after,
.videos-title a:hover:after {
  background-position: -1px 0;
}

.evaluation-content {
  margin-top: 30px;
}

.evaluation-content:before, .evaluation-content:after {
  content: "";
  display: table;
}

.evaluation-content:after {
  clear: both;
}

.evaluation-content {
  *zoom: 1;
}

.evaluation-content li {
  position: relative;
  float: left;
  width: 222px;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.evaluation-content li.current {
  width: 562px;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.evaluation-content li.current .evaluation-content-left:after {
  display: block;
}

.evaluation-content li:nth-child(-n+4) {
  margin-right: 12px;
}

.evaluation-content a {
  display: block;
}

.evaluation-content-left {
  position: relative;
  width: 222px;
  height: 296px;
  overflow: hidden;
}

.evaluation-content-left img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.evaluation-content-left span {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 60px;
  height: 48px;
  font-size: 22px;
  color: #333333;
  padding-left: 22px;
  padding-top: 6px;
  font-family: impact;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../images/play/assessments_score_bg.png);
  background-repeat: no-repeat;
  z-index: 1;
}

.evaluation-content-left span.black-bg {
  color: #FFD222;
  background-image: url(../images/play/assessments_score_bg2.png);
}

.evaluation-content-left div {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  z-index: 1;
  color: white;
}

.evaluation-content-left div h4 {
  font-size: 20px;
  line-height: 30px;
}

.evaluation-content-left div p {
  font-size: 16px;
  line-height: 25px;
}

.evaluation-content-left div h4,
.evaluation-content-left div p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.evaluation-content-left i {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/play/evaluation_words_bg.png);
  background-repeat: repeat-x;
  background-position: bottom left;
  z-index: 1;
}

.evaluation-content-left:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.evaluation-content-left:after {
  content: "";
  position: absolute;
  z-index: 1;
  display: none;
  top: 128px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid white;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.evaluation-content-right {
  position: absolute;
  left: 222px;
  top: 0;
  width: 330px;
  height: 296px;
  padding-right: 10px;
}

.evaluation-content-right h4 {
  text-align: center;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 15px;
}

.evaluation-content-right div {
  position: relative;
  margin: 0 auto;
  width: 230px;
}

.evaluation-content-right div span {
  position: absolute;
  display: block;
  top: 6px;
  left: -26px;
  width: 16px;
  height: 18px;
  background-image: url(../images/play/icon_spriter02.png);
  background-repeat: no-repeat;
  background-position: -75px 0;
}

.evaluation-content-right div p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  line-height: 28px;
  font-size: 16px;
  color: #666666;
}

.evaluation-content-right div:nth-last-child(1) span {
  background-position: -90px 0;
  top: 8px;
}

.evaluation-content-right div:nth-last-child(1) p {
  color: #999999;
}

.evaluation-content-right i {
  display: block;
  width: 230px;
  margin: 10px auto;
  background-color: #e4e4e4;
  height: 1px;
}

/* 爱玩测评  end */
/* 游戏新鲜事  start */
.fun-content,
.videos-content {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fun-content li,
.videos-content li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fun-content li:nth-child(-n+4),
.videos-content li:nth-child(-n+4) {
  margin-right: 18px;
}

.fun-content a,
.videos-content a {
  display: block;
  width: 100%;
  background-color: white;
  height: 330px;
  border-radius: 4px;
  overflow: hidden;
}

.fun-content a:hover img,
.videos-content a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fun-content div,
.videos-content div {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.fun-content img,
.videos-content img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.fun-content h5,
.fun-content p,
.videos-content h5,
.videos-content p {
  width: 255px;
  margin: 0 auto;
}

.fun-content h5,
.videos-content h5 {
  margin-top: 15px;
  color: #000000;
  font-size: 16px;
  line-height: 25px;
  height: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.fun-content p,
.videos-content p {
  color: #999999;
  font-size: 16px;
  line-height: 26px;
}

.fun-banner,
.videos-banner {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fun-banner a,
.videos-banner a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 200px;
  margin-left: 22px;
  border-radius: 4px;
  overflow: hidden;
}

.fun-banner a:hover img,
.videos-banner a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fun-banner a:nth-child(1),
.videos-banner a:nth-child(1) {
  margin-left: 0;
}

.fun-banner img,
.videos-banner img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

/* 游戏新鲜事  end */
/* 爱玩视频  start */
.videos-content a {
  height: 280px;
}

.videos-content h5 {
  width: 330px;
  -webkit-line-clamp: 2;
  height: 50px;
}

.videos-content div {
  position: relative;
}

.videos-content li:nth-child(4) {
  margin-right: 0px;
}

.videos-content span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -20px;
  width: 30px;
  height: 40px;
  background-image: url(../images/play/videos_icon_play.png);
  background-repeat: no-repeat;
  background-position: center;
}

.videos-banner a {
  height: 150px;
}

/* 爱玩视频  end */
/* 新媒体矩阵  start */
.newmedia .container {
  padding-bottom: 100px;
}

.newmedia-title {
  border-bottom: 1px solid #e4e4e4;
}

.newmedia-title:before, .newmedia-title:after {
  content: "";
  display: table;
}

.newmedia-title:after {
  clear: both;
}

.newmedia-title {
  *zoom: 1;
}

.newmedia-title h3 {
  float: left;
  font-size: 36px;
  color: #333333;
  line-height: 1;
  padding-bottom: 8px;
  border-bottom: 6px solid #333333;
}

.newmedia-content {
  margin-top: 50px;
}

.newmedia-content:before, .newmedia-content:after {
  content: "";
  display: table;
}

.newmedia-content:after {
  clear: both;
}

.newmedia-content {
  *zoom: 1;
}

.newmedia-content li {
  position: relative;
  float: left;
  margin: 0 35px;
}

.newmedia-content li > a:nth-child(1) {
  width: 100px;
  display: block;
  text-align: center;
}

.newmedia-content img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.newmedia-content h5 {
  margin-top: 15px;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  line-height: 24px;
  height: 26px;
}

.newmedia-content-li:hover h5 {
  color: #F4B126;
}

.newmedia-content-platform {
  position: absolute;
  display: block;
  padding: 4px;
  top: 18px;
  left: 50%;
  margin-left: -18px;
  opacity: 0;
}

.newmedia-content-platform i {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(../images/play/icon_spriter03.png);
  background-repeat: no-repeat;
  z-index: 2;
}

.newmedia-content-platform i.dashen {
  background-position: -106px 0;
}

.newmedia-content-platform i.xinlang {
  background-position: -193px 0;
}

.newmedia-content-platform i.zhihu {
  background-position: -164px 0;
}

.newmedia-content-platform i.weixin {
  background-position: -135px 0;
}

.newmedia-content-platform i.steam {
  background-position: -222px 0;
}

.newmedia-content-platform span {
  position: absolute;
  display: none;
  left: 0px;
  top: 5px;
  background-color: #ffd222;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 4px 6px;
  font-size: 12px;
  z-index: 1;
  border-radius: 12px;
  opacity: 0;
  color: #555555;
}

/* 新媒体矩阵  end */
/* 侧边栏 返回顶部按钮 */
aside {
  position: fixed;
  display: none;
  bottom: 50px;
  left: 50%;
  margin-left: 757px;
}

aside a {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../images/play/aside_spriter.png);
  background-repeat: no-repeat;
  background-position: 0 -122px;
}

aside a:hover {
  background-position: -61px -122px;
}

/* footer部分  start */
footer {
  background-color: #222222;
}

.footer-about h3 {
  color: #fff;
  font-weight: normal;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.footer-about p {
  color: #666666;
  font-size: 16px;
  line-height: 26px;
}

.footer-bottom {
  text-align: center;
  color: #666666;
  line-height: 26px;
  margin-top: 10px;
  padding-bottom: 30px;
}

.footer-bottom a {
  color: white;
}

/* footer部分  end */
/*# sourceMappingURL=play.css.map */